<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreCliente %><br>
    <%= f.text_field :nombreCliente %>
  </div>
  <div class="field">
    <%= f.label :fonoCliente %><br>
    <%= f.number_field :fonoCliente %>
  </div>
  <div class="field">
    <%= f.label :Ubicacion_id %><br>
    <%= f.text_field :Ubicacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
